{{range .Types}}
// {{.TypeName}} defines model for {{.JsonName}}.
{{- if eq (len .Schema.EnumValues) 0 }}
type {{.TypeName}} {{.Schema.TypeDecl}}
{{- else }}

// List of {{ .TypeName }}
const (
	{{- $typeName := .TypeName }}
	{{- $typeDecl := .Schema.TypeDecl }}
    {{- range .Schema.EnumValues }}
    {{ $typeName }}_{{ . }} {{ $typeDecl }} = "{{ . }}"
    {{- end }}
)
{{- end }}
{{end}}

